/* Globals
*************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, 
body { 
  height: 100%; 
  font: 17px/1.4 'Segoe UI', 'Segoe', Verdana, Arial, sans-serif;
}

body {
  background: #fff;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	@include at2x('/img/ross', jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

#logo {
  width: 250px;
}